## AWS Specific part
ami                             = "ami-yourami"
# Instance user: pick between ec2-user and ubuntu depending on your ami
instance_user                   = "ubuntu"
key_name                        = "mykey"

region                          = "eu-west-1"
vpc_id                          = "vpc-1234"
#AZ lists and subnets must be comma separated lists in the same order ( subnet 1 must be in AZ 1)
availability_zones              = "eu-west-1a,eu-west-1b,eu-west-1c"
subnets                         = "subnet-45,subnet-56,subnet-67"
#admin cidr for ssh and web access
admin_cidr_block                = "8.8.8.8/32"
deploymentserver_ip             = "10.10.10.200"

## Instance/elb/asg specs
instance_type_indexer           = "t2.micro"
instance_type_deploymentserver  = "t2.micro"
instance_type_master            = "t2.micro"
instance_type_searchhead        = "t2.micro"

#elb public/private setting
elb_internal                    = "false"

# SearchHead Autoscaling
asg_searchhead_desired          = 2
asg_searchhead_min              = 2
asg_searchhead_max              = 2

count_indexer                   = 2

## Splunk Settings
pass4SymmKey                    = "BitchBetterHaveMyMoney"
